# fly.toml app configuration file generated for separa-api on 2026-01-03T21:23:25-03:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'separa-api'
primary_region = 'gru'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8080'

[http_service]
  internal_port = 8080
  force_https = true

  [http_service.concurrency]
    hard_limit = 25
    soft_limit = 20

[[vm]]
  memory = '512mb'
  cpus = 1
  memory_mb = 512

[deploy]
  max_unavailable = 0.5
